
.doboz{
    background-color: rgb(0, 0, 0);
    border-width: 10px;
    border-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border-top-color: red;
    border-bottom-color:red;
    border-right-color: red;
    border-left-color:red;
    border-top-width: 5px;
    border-bottom-width:5px;
    border-right-width:5px;
    border-left-width: 5px;
    text-align: center;
border-bottom-right-radius: 33px;
border-bottom-left-radius: 33px;
border-top-left-radius: 33px;
border-top-right-radius: 33px;
width: fit-content;
padding: 15px;
transition: ease-in-out 0.3s;


}
.doboz:hover{
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px red, 0px 0px 20px 0px red;
}
body{
    background-color:rgb(0, 0, 0);
    color:white;
    
}
.bgimage
{
    width: 100%;
    height: 100%;
    background-image:url("images/aranygaluska.jpg");
background-repeat: no-repeat;
filter: blur(8px);           
background-position: center;
background-size: cover;
}
.kep{
size: 10px;

}
.AC{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
   font-style: oblique;
   font-size: 30px;
  



}
.dátum{
text-decoration-line: underline;
text-decoration-color:white;

}
.szereplok{
text-decoration-line: underline;
text-decoration-color: white;
}
.altair{
    padding: 50px 20px;
}
.kozep
{
    text-align: center;
    
}
.kephover
{
    transition: ease-in-out 0.3;
}
.kephover:hover
{
    transition: ease-in-out 0.3;
    scale: 200%;
}
.cim {

}
td{
  padding-left: 20px;  
}
