
.doboz{
    background-color:rgba(0,0,0,0);
    border:solid white ;
    border-width:5px;
    text-align: center;
    border-radius: 32px;
    width: fit-content;
    padding: 15px;
    transition: ease-in-out 0.3s;
    margin: auto;
    margin-bottom: 10px;
    font-size: 50px;
    margin-top: 30px;
    color:rgb(255, 255, 255)
    
}
.doboz:hover{
    transition: ease-in-out 0.3s;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255), 0px 0px 20px 0px rgb(255, 255, 255);
}
body{
    background-color:rgb(0, 0, 0);
    color:white;

    background-image: url(images/blurry-gradient-haikei.png);
    background-size: cover;
    margin:0;
    
}
.bgimage
{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    filter: blur(8px);           
    background-position: center;
    background-size: cover;
}
.kep{
    size: 10px;

}
.AC{
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
    font-style: oblique;
    font-size: 50px;
  }

.dátum{
    text-decoration-line: underline;
    text-decoration-color:white;

}
.szereplok{
    text-decoration-line: underline;
    text-decoration-color: white;
}
.kepek{
    padding: 50px 20px;
    margin: auto;
}
.kozep
{
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
    font-style: italic;
}
.kephover
{
    transition: ease-in-out 0.3;    
    width: 250px;
    height: 300px;
}
.kephover:hover
{
    transition: ease-in-out 0.3;
    scale: 150%;
}

td{
    padding-left: 20px;
    font-size: 60px;  
}

li{
    font-size: 20px;
}

a {
    color: rgb(255, 255, 255);
}

.footerright {
    width: 33%;
    padding-right: 5px;
    text-align: right;
    font-size: 24px;
    
}

#fonti{
    padding-top: 30px;
    background-color:rgba(0,0,0,0);
    height: 30px;
    text-align: center;
}

.fonti2{
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.fop{
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.szereplokneve{
    text-align: center;
    font-weight: bold;
}

div{
    text-align: center
}

.linkkep{
    width: 100px;
}
