
body
{
    background-color:          rgb(0, 0, 0);
    color:                     white;
    background-image:          url(images/blurry-gradient-haikei.png);
    background-size:           cover;
    margin:                    0 15 0 15 px;
}

td
{
    padding-left:              20px;
    font-size:                 20px;
  
}

li
{
    text-align:                left;
    font-size:                 35px;
    padding-left:              20px;
    

}
a
{
    color:                     rgb(255, 255, 255);
    text-decoration: none;

}

th{
    font-size:                 35px;
    background-color:          black;
}

.dátum
{
    text-decoration-line:      underline;
    text-decoration-color:     white;
}

.doboz
{
    background-color:          rgba(0,0,0,0);
    border:                    solid white ;
    text-align:                center;
    border-width:              5px;
    border-radius:             33px;
    width:                     fit-content;
    padding:                   15px;
    transition: ease-in-out    0.3s;
    margin:                    auto;
    margin-bottom:             10px;
    font-size:                 80px;
  
    color:                     rgb(255, 255, 255);
    margin-top:                60px;
}

.doboz:hover
{
    transition:                ease-in-out 0.3s;
    box-shadow:                0px 0px 10px 0px rgb(255, 255, 255), 0px 0px 20px 0px rgb(255, 255, 255);
}

.kozep
{
    text-align:                center;
    font-size:                 30px;
    font-family:                Arial, Helvetica, sans-serif
}

.kepek
{
    padding:                   50px 20px;
    margin:                    auto;
}

.kephover
{
    transition: ease-in-out    0.3s;    
    width:                     300px;
    height:                    400px;
    border-radius:             33px;
    border:                    3px black solid;
    margin-top:                150px;
 
}

.kephover:hover
{
    transition:ease-in-out     0,3s ;
    scale:                     95%;  
}

.fonti2
{
    padding:                   10px;
    font-family:               Arial, Helvetica, sans-serif;
    font-size: 30px;
   
}

.linkkep
{
    width:                     100px;
    margin-left: 900px;
    margin-top: 35px;
    
}

.szereplokneve
{
    text-align:                center;
    margin-top: 100px;
}

.tablazat{
    border:                    5px solid black;
    border-collapse:           collapse;
    float:                     right ;
    margin-right:              20px;
    margin-left:               20PX;
    margin-top:                20px;
}

.tablazat td{
    border:                    5px solid black ;
    border-collapse:           collapse;
    
}

#fop
{
    text-align:                center;
    font-size:                 40px;
    font-family:               'Times New Roman', Times, Arial, Helvetica, sans-serif;
    margin-top: 410px;
}

#fonti
{
    padding-top:               30px;
    background-color:          rgba(0,0,0,0);
    height:                    30px;
    text-align:                center;
}

#openworld
{
    font-style:                italic;
}

#velemeny
{
    font-size:                 27px; 
    padding-right:             1000px;
    margin-top:                150px;
    margin-left:               60px;
    text-align:                justify;
    
}

#hb
{
    height:                    520px;
    width:                     800px;
    float:                     right;
    margin-bottom:             0px;
    margin-right:              60px;
    border:                    4px black solid;
    margin-top:                135px;

}

#tori
{
    color:                     white;
    font-size:                 30px;

   text-align:  left;
}

#datum
{
    text-decoration-line:      underline;
    text-decoration-color:     white;
    font-size: 40px;
}

.szoveg{
    font-size:                 25px;
    margin-left:               25px;
    margin-right:              80px;
    text-align:                justify;
    margin-top:                50px;
}

.nemakepe{
    background-color:          rgb(44, 44, 44);  
}

.kicsitmas{
    text-decoration: underline;
    color: black;
  font-weight: bold;
    font-size: 20px;
    text-align: center;
   
}

#tor{
    font-size: 20px;
    text-align: left;
   margin-top: 80px;
}

#jatek{
    font-weight: bold;
    
}




#lof{
    float: right;
    width: 500px;
    height: 500px;
    margin-right: 300px;
    border:                    3px black solid;
    
}
 
.alahuz{
 text-decoration: underline;
 font-size:30px ;
}



header{
    border-bottom: solid ;
    padding-bottom: 20px;
}

#jobbra{
    text-align: right;
    font-size: 30px;
    text-align: center;
}